form{
  width: 20rem;
  max-width: 90%;
  margin:auto;
}
form label,
form input{
  display: block;
}
form input{
  border: 1px solid rgb(165, 158, 53);
  width: 100%;
  font: inherit;
  border-radius: 2px;
}
form div{
  margin: 1rem 0;
}
button{
  font:inherit;
  border: 1px solid rgb(165, 158, 53);
  color:rgb(165, 158, 53);
  border-radius: 2px;
  cursor: pointer;
}
button:hover{
  background-color: rgb(165, 158, 53);
  color:white;
}

.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.product-item {
  width: 20rem;
  max-width: 95%;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}